<app-navbar></app-navbar>
<section class="card-style">
    <mat-card class="example-card">
      <h1>Job Dashboard</h1>
    </mat-card>
</section>
<section class="card-style">
  <div *ngFor="let job of jobData; let i = index"   >
  <mat-card *ngIf="job.status=='active'" class="example-card">
 
    <mat-card-header>
      <mat-card-title>Job Name:</mat-card-title>
      <mat-card-subtitle>{{job.name}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <mat-card-title>Job Location:</mat-card-title>
      <mat-card-subtitle>{{job.location}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <mat-card-title>Job Experience:</mat-card-title>
      <mat-card-subtitle>{{job.experience}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
      <mat-card-title>Job Salary:</mat-card-title>
      <mat-card-subtitle>{{job.salary}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-header>
      <mat-card-title>Job Posted By:</mat-card-title>
      <mat-card-subtitle>{{job.companyData[0].name}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['view', job._id]">View More</button>
    </mat-card-actions>

  </mat-card>
</div>
</section>
