<p>Profile Works</p>
<mat-card>
        <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm">
                    <ng-template matStepLabel>Basic Details</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="Full Name" [(ngModel)]="userData.name" formControlName="name" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Email" [(ngModel)]="userData.email" formControlName="email" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup" (ngSubmit)="form2()" #formtwo="ngForm">
                    <ng-template matStepLabel>Personal Details</ng-template>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Select Date of Birth"  formControlName="dateOfBirth"  [(ngModel)]="userData.PersonalDetails.dateOfBirth" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Phone Number" formControlName="phone"  [(ngModel)]="userData.PersonalDetails.phone" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="House No." formControlName="houseNo"  [(ngModel)]="userData.PersonalDetails.houseNo" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="Address" formControlName="address"  [(ngModel)]="userData.PersonalDetails.address" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="City" formControlName="city"  [(ngModel)]="userData.PersonalDetails.city" required>
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="State" formControlName="state"  [(ngModel)]="userData.PersonalDetails.state" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="thirdFormGroup">
                  <form [formGroup]="thirdFormGroup" (ngSubmit)="form3()" #formthree="ngForm">
                    <ng-template matStepLabel>Educational Details</ng-template>
                    <mat-form-field>
                        <input matInput placeholder="10th Board" formControlName="Tenthboard" [(ngModel)]="userData.EducationalDetails.Tenthboard" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="percentage secured" formControlName="Tenthpercentage" [(ngModel)]="userData.EducationalDetails.Tenthpercentage" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Year of pass out" formControlName="TenthYOP" [(ngModel)]="userData.EducationalDetails.TenthYOP" required>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select placeholder="Select intermediate education" formControlName="intermediateEducation" [(ngModel)]="userData.EducationalDetails.intermediateEducation">
                        <mat-option value="12th">12th</mat-option>
                        <mat-option value="Diploma">Diploma</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Intermediate Board" formControlName="intermediateBoard" [(ngModel)]="userData.EducationalDetails.intermediateBoard" required>
                    </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="percentage secured" formControlName="intermediatePercentage" [(ngModel)]="userData.EducationalDetails.intermediatePercentage" required>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Year of pass out" formControlName="intermediateYop" [(ngModel)]="userData.EducationalDetails.intermediateYop" required>
                      </mat-form-field>

                      <mat-form-field>
                          <input matInput placeholder="Graduation Degree e.g. B.tech" formControlName="GraduationDegree" [(ngModel)]="userData.EducationalDetails.GraduationDegree" required>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput placeholder="Stream of Graduation e.g. CSE / ECE / HR" formControlName="Graduationstream" [(ngModel)]="userData.EducationalDetails.Graduationstream" required>
                      </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="CGPA Secured" formControlName="Graduationcgpa" [(ngModel)]="userData.EducationalDetails.Graduationcgpa" required>
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Graduation Year of Passing Out" formControlName="GraduationYOP" [(ngModel)]="userData.EducationalDetails.GraduationYOP" required>
                        </mat-form-field>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button type="button" (click)="formone.ngSubmit.emit();formtwo.ngSubmit.emit();formthree.ngSubmit.emit()">Submit</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-vertical-stepper>
              
</mat-card>