<app-navbar></app-navbar>
<br>
<div class="bgimg">
<section class="card-style">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h1>ABOUT US</h1></mat-card-title>
     	<mat-card-subtitle>
      		<h3>What is Recruitment?</h3><br> 
				<p>Recruiting is defined as persuading someone to work for a company or become a new member of an organization.<p><br>
	 		<h3>What is Online Recruitment System?</h3><br>
	 			<p>Online Recruitment System is a software to automate the recruitment process both from job provider as well as job seekers perspective.
					Need of Online Recruitment System.</p>
		</mat-card-subtitle>
    </mat-card-header>
   </mat-card>
</section>
</div>