<section class="card-style">
    <mat-card class="example-card">
      <h1>JOB DETAILS</h1>
    </mat-card>
  </section>
  <section class="card-style">
  
    <mat-card class="example-card"c>
  
      <mat-card-header>
        <mat-card-title>Job Name:</mat-card-title>
        <mat-card-subtitle>{{jobData.name}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-header>
        <mat-card-title>Job Location:</mat-card-title>
        <mat-card-subtitle>{{jobData.location}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-header>
        <mat-card-title>Job Experience:</mat-card-title>
        <mat-card-subtitle>{{jobData.experience}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-header>
        <mat-card-title>Job Salary:</mat-card-title>
        <mat-card-subtitle>{{jobData.salary}}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-header>
        <mat-card-title>Qualification:</mat-card-title>
        <mat-card-subtitle>{{jobData.qualification}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-header>
        <mat-card-title>Description:</mat-card-title>
        <mat-card-subtitle>{{jobData.description}}</mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/student/dashboard']">Back</button>
        <button mat-raised-button color="primary" [routerLink]="['/student/dashboard']">Apply Job</button>
      </mat-card-actions>
  
    </mat-card>
  </section>
  